* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.9);
    color: #EBDBB2;
}

#workspaces button {
    padding: 0 8px;
    color: #EBDBB2;
}

#workspaces button.active {
    color: #D79921;
}

#clock {
    padding: 0 12px;
    color: rgba(215, 153, 33, 0.7);
}

#pulseaudio {
    padding: 0 10px;
    color: rgba(254, 128, 25, 0.7);
}

#bluetooth {
    padding: 0 10px;
    color: #458588;
}

#network {
    padding: 0 10px;
    color: #EBDBB2;
}

#custom-gpu {
    padding: 0 10px;
    color: #98971A;
}

#cpu {
    padding: 0 10px;
    color: #98971A;
}

#memory {
    padding: 0 10px;
    color: #98971A;
}

#disk {
    padding: 0 10px;
    color: #98971A;
}

#custom-theme {
    padding: 0 10px;
    color: #FABD2F;
}

tooltip {
    background-color: rgba(40, 40, 40, 0.95);
    border: 1px solid #D79921;
    border-radius: 4px;
    color: #EBDBB2;
}

tooltip label {
    color: #EBDBB2;
}
