* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.9);
    color: #ebdbb2;
}

#workspaces button {
    padding: 0 8px;
    color: #ebdbb2;
}

#workspaces button.active {
    color: #d79921;
}

#clock {
    padding: 0 12px;
    color: rgba(215, 153, 33, 0.7);
}

#pulseaudio {
    padding: 0 10px;
    color: rgba(131, 165, 152, 0.7);
}

#bluetooth {
    padding: 0 10px;
    color: #b16286;
}

#network {
    padding: 0 10px;
    color: #689d6a;
}

#custom-gpu {
    padding: 0 10px;
    color: #fabd2f;
}

#cpu {
    padding: 0 10px;
    color: #d79921;
}

#memory {
    padding: 0 10px;
    color: #98971a;
}

#disk {
    padding: 0 10px;
    color: #d65d0e;
}

#custom-theme {
    padding: 0 10px;
    color: #d79921;
}

tooltip {
    background: rgba(40, 40, 40, 0.95);
    border: 1px solid #d79921;
    color: #ebdbb2;
}
