* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(22, 24, 33, 0.9);
    color: #c6c8d1;
}

#workspaces button {
    padding: 0 8px;
    color: #c6c8d1;
}

#workspaces button.active {
    color: #84a0c6;
}

#clock {
    padding: 0 12px;
    color: rgba(132, 160, 198, 0.7);
}

#pulseaudio {
    padding: 0 10px;
    color: rgba(226, 120, 120, 0.7);
}

#bluetooth {
    padding: 0 10px;
    color: #89b8c2;
}

#network {
    padding: 0 10px;
    color: #c6c8d1;
}

#custom-gpu {
    padding: 0 10px;
    color: #84a0c6;
}

#cpu {
    padding: 0 10px;
    color: #84a0c6;
}

#memory {
    padding: 0 10px;
    color: #b4be82;
}

#disk {
    padding: 0 10px;
    color: #e2a478;
}

#custom-theme {
    padding: 0 10px;
    color: #84a0c6;
}

tooltip {
    background: rgba(22, 24, 33, 0.95);
    border: 1px solid #84a0c6;
    color: #c6c8d1;
}
