configuration {
    modi: "drun,ssh";
    show-icons: true;
    display-drun: "Apps";
    display-ssh: "SSH";
    drun-display-format: "{name}";
    font: "Hack Nerd Font 12";
    sorting-method: "fzf";
    matching: "fuzzy";
    monitor: "DP-2";
}

@theme "frost"
