* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(10, 19, 28, 0.9);
    color: #A0B4C5;
}

#workspaces button {
    padding: 0 8px;
    color: #A0B4C5;
}

#workspaces button.active {
    color: #3D6390;
}

#clock {
    padding: 0 12px;
    color: rgba(61, 99, 144, 0.7);
}

#custom-volume {
    padding: 0 10px;
    color: rgba(144, 95, 89, 0.7);
}

#bluetooth {
    padding: 0 10px;
    color: #7297BB;
}

#network {
    padding: 0 10px;
    color: #A0B4C5;
}

#custom-gpu {
    padding: 0 10px;
    color: #3D6390;
}

#cpu {
    padding: 0 10px;
    color: #3D6390;
}

#memory {
    padding: 0 10px;
    color: #5E8C9C;
}

#disk {
    padding: 0 10px;
    color: #D9C5A8;
}

#custom-theme {
    padding: 0 10px;
    color: #3D6390;
}

tooltip {
    background: rgba(10, 19, 28, 0.95);
    border: 1px solid #3D6390;
    color: #A0B4C5;
}
