* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(8, 9, 11, 0.9);
    color: #B4BAC2;
}

#workspaces button {
    padding: 0 8px;
    color: #B4BAC2;
}

#workspaces button.active {
    color: #3E6FA8;
}

#clock {
    padding: 0 12px;
    color: rgba(62, 111, 168, 0.7);
}

#custom-volume {
    padding: 0 10px;
    color: rgba(100, 115, 168, 0.7);
}

#bluetooth {
    padding: 0 10px;
    color: #5B8FC7;
}

#network {
    padding: 0 10px;
    color: #B4BAC2;
}

#custom-gpu {
    padding: 0 10px;
    color: #3E6FA8;
}

#cpu {
    padding: 0 10px;
    color: #3E6FA8;
}

#memory {
    padding: 0 10px;
    color: #62A0B8;
}

#disk {
    padding: 0 10px;
    color: #8CA3CC;
}

#custom-theme {
    padding: 0 10px;
    color: #3E6FA8;
}

tooltip {
    background: rgba(8, 9, 11, 0.95);
    border: 1px solid #3E6FA8;
    color: #B4BAC2;
}
