* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
}
window#waybar {
    background-color: rgba(13, 17, 23, 0.9);
    color: #d8e8ff;
}
#workspaces button {
    padding: 0 8px;
    color: #d8e8ff;
}
#workspaces button.active {
    color: #00f0ff;
}
#clock { padding: 0 12px; color: rgba(255, 45, 149, 0.7); }
#custom-volume { padding: 0 10px; color: rgba(255, 45, 149, 0.7); }
#bluetooth { padding: 0 10px; color: #00f0ff; }
#network { padding: 0 10px; color: #d8e8ff; }
#custom-gpu { padding: 0 10px; color: #00f0ff; }
#cpu { padding: 0 10px; color: #00f0ff; }
#memory { padding: 0 10px; color: #00f0ff; }
#disk { padding: 0 10px; color: #00f0ff; }
#custom-theme { padding: 0 10px; color: #00f0ff; }
tooltip {
    background: rgba(13, 17, 23, 0.95);
    border: 1px solid #00f0ff;
    color: #d8e8ff;
}
