[Desktop Entry]
Type=Application
Name=Cursor Center
Exec=sh -c "sleep 1 && hyprctl dispatch 'hl.dsp.cursor.move({ x = 1920, y = 540 })'"
X-GNOME-Autostart-enabled=true
